<div class="text-center">
    <p></p>
    <p></p>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register User</a>
    <p></p>
    <p></p>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="RegisterAgent">Register Agent</a>

</div>