@using My_Transfermarkt_Core.Models.CountryModels
@model List<DisplayCountryModel>
@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <h3>Countries</h3>
</div>
@if (Model.Count == 0)
{
    <div class="text-center">
        <p></p>
        <p></p>
        <p></p>
        <h5>Nothing found</h5>
        <a class="" asp-area="Administrator" asp-controller="Country" asp-action="AddNewCountry">Add new country</a>

    </div>
}
else
{
    <div class="text-center">
    <a class="" asp-area="Administrator" asp-controller="Country" asp-action="AddNewCountry">Add new country</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Short Name</th>
            </tr>
        </thead>

        @for (int i = 0; i < Model.Count; i++)
        {
            int number = @i + 1;
            <tbody>
                <tr>
                    <td>@number</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].ShortName</td>
                    <td>
                        <a asp-controller="Country" asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-warning">Edit</a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}