@using My_Transfermarkt_Core.Models.TournamentModels
@model List<ShowTournamentModel>
@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <h3>Tournaments</h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Current Teams in</th>
        </tr>
    </thead>

    @for (int i = 0; i < Model.Count; i++)
    {
        int number = @i + 1;
        <tbody>
            <tr>
                <td>@number</td>
                <td>@Model[i].Name</td>
               
                <td>
                    <a asp-controller="Tournament" asp-action="CurrentTeams" asp-route-id="@Model[i].Id" class="btn btn-info">Current teams in</a>
                </td>
            </tr>
        </tbody>
    }
</table>
