@{
    ViewData["Title"] = "Add new tournament";
}

<div class="text-center">
    <p></p>
    <p></p>
    <a asp-controller="Tournament" asp-action="AddNewSingleTournament"  class="btn btn-primary">Add Single Tounament</a>
    <a asp-controller="Tournament" asp-action="AddGroupStageTournament" class="btn btn-primary">Add Group stage tournament Tounament</a>
</div>