﻿<form method="post" enctype="multipart/form-data"
       asp-controller="Team" asp-action="UploadLogo">
    <input type="file" name="files" multiple><input>
    <button type="submit" value=Upload>Upload</button>
</form>
