﻿@{
    ViewData["Title"] = "View and or Edit current Data";
}

<div class="text-center">
    <h3>Add, view or edit current data</h3>
</div>





<table class="table">
    <thead>
        <tr>
            <th class="col-md-1">Entity</th>
        </tr>
    </thead>


    <tbody>
        <tr>
            <td>Country</td>
            <td><a class="nav-link" asp-area="Administrator" asp-controller="Country" asp-action="AddNewCountry">Add Country</a></td>
            <td><a class="nav-link" asp-area="Administrator" asp-controller="Country" asp-action="AllCountries">All Country</a></td>
        </tr>
    </tbody>

</table>


