﻿<form method="post" enctype="multipart/form-data"
       asp-controller="Footballer" asp-action="UploadPicture">
    <input type="file" name="files" multiple><input>
    <button type="submit">Upload</button>
</form>

