<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My_Transfermarkt</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/MyCssTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/My_Transfermarkt.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        @if (User.IsInRole("Agent"))
                        {
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="agent" asp-action="AddFootballer">Add footballer</a>
                            </li>
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="footballer" asp-action="MyFootballers">My footballers</a>
                            </li>
                        }
                        @if (User.IsInRole("User"))
                        {
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="team" asp-action="Allteams">All teams</a>
                            </li>
                            <li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="footballer" asp-action="GetAllFootballers">All footballers</a>
                                    
                            </li>
                            <li>
                                    <a class="nav-link text-light" asp-area="" asp-controller="footballer" asp-action="RetiredPlayers">Retired</a>
                            </li>
                        }
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Search">Search</a>
                            </li>
                    </ul>
                        
                   
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - Transfermarkt
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
